body,
html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(to left, #121013, #292420);
    transition: .3s;
    font-family: 'Muli', sans-serif;

 }

::selection {
    background: #943D3C;
}

// navigation section

nav {
    color: lightgray;
    background: linear-gradient(to left, #121013, #242424);
    font-family: 'Montserrat', sans-serif;

    .navbar-brand {
        font-size: 1.7em;
        font-weight:600;
    }
    .fullstop {
        z-index: 1167738;
        position: relative;
        color: #F13B3D;
        margin-left: -8px;
        font-size: 2em;
    }

    .white-brand {
        background: white;
        padding-top: 30px;
        margin-top: -10px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .navbar-nav {
        position: relative;
        z-index: 123;
        li {
            padding-left: 20px;
            font-size: 1.1em;
            font-weight: 600;
        }
    }
}

section.top {
    color: white;

    .dash {
        color:  #943D3C;
        font-weight: 800;
    }
    .left{
        text-align: right;

        p{
            color: #69676A;
        }

        h5 {
            color: #89878A;
        }
    }

    .center {
        font-family: 'Montserrat', sans-serif;
        h1{
            font-weight: 1000;
            letter-spacing: 2px;
            color: #FAFBFE;
        }

        .red {
            color: #6A2B2A;

            font-size: 1.3em;
            font-weight: 800;

        }
        .fullstop {
            color:#6A2B2A;
            padding-left: -10px;
        }

        h5 {
            line-height: 40px;
            color: #69676A;
        }
        .bio {
            color: #89878A;
        }
    }

    .left-2 {
        margin-left: 70%;
        font-family: 'Montserrat', sans-serif;


        span.number {
            color: #6A2B2A;
            font-size: 3em;
            font-weight: bolder;
        }
        .bigger {
            font-size: 1.5em;
        }

        p {
            font-weight: bolder;
            color: #89878A;
        }
    }

    .image {
        height: 101vh;
        margin-top: -27vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        opacity: 0.2;
    }
}

@media screen and (max-width: 720px) {
    .image {
        display: none;
    }
    body{
        text-align: center;
    }

    .left {
        display: none;
    }

    .left-2 {
        display: none;
    }

}

@media screen and (max-width: 444px) {
    .navbar-nav {
        margin: 0 auto;
    }
    .white-brand {
        margin: 0 auto;
    }
}
